.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    height: 877px;
    width: 877px;
    margin-bottom: 0;
    right: -210px;
    top: 0;
    position: absolute;
    animation: rotation 40s linear;
  }
  